In [18]:
import mysql.connector
db= mysql.connector.connect(user='root', password='password',
                              host='127.0.0.1',database="nm"                             
                              )
cursor = db.cursor(buffered=True)

In [19]:
cursor.execute("SELECT COUNT(*) FROM rf_developer_projects")
p = cursor.fetchone()

In [20]:
print(p)

(1580,)

In [23]:
cursor.execute("SELECT a.proj_unixname, a.dev_loginname, b.dev_loginname \
FROM rf_developer_projects a \
INNER JOIN rf_developer_projects b \
ON a.proj_unixname=b.proj_unixname \
WHERE a.datasource_id = 266 AND b.datasource_id = 266 \
AND a.dev_loginname != b.dev_loginname \
AND a.dev_loginname < b.dev_loginname")

ProgrammingError: 1054 (42S22): Unknown column 'a.proj_unixname' in 'on clause'

In [ ]:
result = cursor.fetchall()
print(len(result))
for res in result:
    print("%s\t\t\t\t%s\t\t\t\t%s" % (res[0], res[1], res[2]))

In [ ]:
cursor.execute("SELECT a.dev_loginname, COUNT(b.dev_loginname) \
FROM rf_developer_projects a \
INNER JOIN rf_developer_projects b \
ON a.proj_unixname = b.proj_unixname \
WHERE a.datasource_id = 266 \
AND b.datasource_id = 266 \
AND a.dev_loginname != b.dev_loginname \
AND a.dev_loginname < b.dev_loginname \
GROUP BY 1 \
ORDER BY 2 DESC")

In [ ]:
result = cursor.fetchall()
for res in result:
    print("%s\t\t\t%d" % (res[0], res[1]))

In [ ]:
cursor.execute("SELECT a.proj_unixname, a.dev_loginname, b.dev_loginname \
FROM rf_developer_projects a \
INNER JOIN rf_developer_projects b \
ON a.proj_unixname=b.proj_unixname \
WHERE a.datasource_id = 266 AND b.datasource_id = 266 \
AND a.dev_loginname != b.dev_loginname \
AND a.dev_loginname < b.dev_loginname \
and a.dev_loginname = 'ezmobius'")

In [ ]:
result = cursor.fetchall()
for res in result:
    print("%s\t\t\t\t%s\t\t\t\t%s" % (res[0], res[1], res[2]))

In [ ]:
cursor.execute("SELECT a.dev_loginname, b.dev_loginname, count(a.proj_unixname) \
FROM rf_developer_projects a \
INNER JOIN rf_developer_projects b ON a.proj_unixname=b.proj_unixname \
WHERE a.datasource_id = 266 AND b.datasource_id = 266 \
AND a.dev_loginname != b.dev_loginname \
AND a.dev_loginname < b.dev_loginname \
GROUP BY 1,2 \
ORDER BY 3 DESC")

In [ ]:
result = cursor.fetchall()
for res in result:
    print("%s\t\t\t\t%s\t\t\t\t%d" % (res[0], res[1], res[2]))

In [ ]:
import csv
import sys
c=csv.writer(open('edgelist266.csv', 'w', encoding = 'utf-8'), delimiter=' ')
for re in result:    
    c.writerow(re)